<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="account-auth">
                    @Html.Partial("_LoginPartial", new Sushi.Models.LoginViewModel())
                </div>
                <div class="logo">
                    <a href="/"><img src="/upload/images/logo.png" alt="logo.png"></a>
                </div>
                <a href="#" class="menuBtn">
                    <span class="lines"></span>
                </a>
                <div class="mainMenu">
                    <ul class="Menu">
                        <li>@Html.ActionLink("Меню", "Menu", "Category", null, null)</li>
                        <li>@Html.ActionLink("Доставка", "Delivery", "Home", null, null)</li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Контроль Качества</a></li>
                        <li><a href="#">О Sushi</a></li>
                        <li><a href="~/Home/Cart">Корзина (<span id="cartcount">@Sushi.DependencyAndRepositories.Repositories.Cart.GetCountCart()</span>)</a></li>
                    </ul>
                </div>
            </div>
            @RenderBody()
            <div class="footer">
                <div class="footer-info-menu">
                    <div class="footer-info">
                        <a href="/"><img src="/upload/images/logo.png" alt="logo.png"></a>
                        <span>Лучшие в мире суши и роллы по адрессу: Минеральные Воды, улица Пушкина, Дом Колотушкина, 6</span>
                    </div>
                    <div class="footer-secondmenu">
                        <span>Подвальное меню</span>
                        <ul>
                            <li>@Html.ActionLink("Меню", "Menu", "Category", null, null)</li>
                            <li>@Html.ActionLink("Доставка", "Delivery", "Home", null, null)</li>
                            <li><a href="#">Акции</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Контроль Качества</a></li>
                            <li><a href="#">О Sushi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright">
                    <span>Copyright 2020 All rights saved</span>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/popup_auth.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $('.btn_auth').click((e) => {
            if ($('input[name="Login"]').val() == "" || $('input[name="Password"]').val() == "") {
                e.preventDefault();
                $('#autherror').text("Поля не могут быть пустыми");
            }
            else $('.auth-form').submit();
        });
    </script>
</body>
</html>
